    
<div id="mailbox">

    <div class="row">
        <div class="col-md-3">

            @Ajax.ActionLink("Compose", "tmpMailCompose", "Home", new AjaxOptions()
               {
                   UpdateTargetId = "mailwrapper",
                   InsertionMode = InsertionMode.Replace,
                   OnBegin = "mailLoading()",
                   OnSuccess = "setEditor()",
                   HttpMethod = "GET"
               }, new { @class = "btn btn-primary btn-block margin-bottom" })
            <button class="btn btn-primary btn-block margin-bottom backToInbox">Back to inbox</button>
            <div class="box box-solid">
                <div class="box-header with-border">
                    <h3 class="box-title">Folders</h3>
                    <div class="box-tools">
                        <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                    </div>
                </div>
                <div class="box-body no-padding">
                    <ul class="nav nav-pills nav-stacked">
                        <li class="active"><a href="#"><i class="fa fa-inbox"></i> Inbox <span class="label label-primary pull-right">12</span></a></li>
                        <li><a href="#"><i class="fa fa-envelope-o"></i> Sent</a></li>
                        <li><a href="#"><i class="fa fa-file-text-o"></i> Drafts</a></li>
                        <li><a href="#"><i class="fa fa-filter"></i> Junk <span class="label label-warning pull-right">65</span></a></li>
                        <li><a href="#"><i class="fa fa-trash-o"></i> Trash</a></li>
                    </ul>
                </div><!-- /.box-body -->
            </div><!-- /. box -->
            <div class="box box-solid">
                <div class="box-header with-border">
                    <h3 class="box-title">Labels</h3>
                    <div class="box-tools">
                        <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                    </div>
                </div>
                <div class="box-body no-padding">
                    <ul class="nav nav-pills nav-stacked">
                        <li><a href="#"><i class="fa fa-circle-o text-red"></i> Important</a></li>
                        <li><a href="#"><i class="fa fa-circle-o text-yellow"></i> Promotions</a></li>
                        <li><a href="#"><i class="fa fa-circle-o text-light-blue"></i> Social</a></li>
                    </ul>
                </div><!-- /.box-body -->
            </div><!-- /.box -->
        </div><!-- /.col -->
        <div class="col-md-9" id="mailwrapper">
        @RenderPage("_tmpMailboxList.cshtml")
        </div><!-- /.col -->
    </div><!-- /.row -->
</div>

    @section css
{
<!-- fullCalendar 2.2.5-->
    <link rel="stylesheet" href="~/Admin/plugins/fullcalendar/fullcalendar.min.css">
    <link rel="stylesheet" href="~/Admin/plugins/fullcalendar/fullcalendar.print.css" media="print">
<!-- iCheck -->
    <link rel="stylesheet" href="~/Admin/plugins/iCheck/flat/blue.css">
<!-- bootstrap wysihtml5 - text editor -->
    <link rel="stylesheet" href="~/Admin/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css">

    }

    @section scripts
    {
        <!-- iCheck -->
        <script src="~/Admin/plugins/iCheck/icheck.min.js"></script>
        <!-- Bootstrap WYSIHTML5 -->
        <script src="~/Admin/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.all.min.js"></script>
        <!-- Page Script -->
        <script>

            function mailLoading() {
                $("#mailwrapper .overlay").show();
            }

            //Enable Editor
            function setEditor() {
                $("#compose-textarea").wysihtml5();
                $("#mailwrapper .overlay").hide();
            }


            $(function() {
                //Enable iCheck plugin for checkboxes
                //iCheck for checkbox and radio inputs
                $('.mailbox-messages input[type="checkbox"]').iCheck({
                    checkboxClass: 'icheckbox_flat-blue',
                    radioClass: 'iradio_flat-blue'
                });

                //Enable check and uncheck all functionality
                $(".checkbox-toggle").click(function() {
                    var clicks = $(this).data('clicks');
                    if (clicks) {
                        //Uncheck all checkboxes
                        $(".mailbox-messages input[type='checkbox']").iCheck("uncheck");
                        $(".fa", this).removeClass("fa-check-square-o").addClass('fa-square-o');
                    } else {
                        //Check all checkboxes
                        $(".mailbox-messages input[type='checkbox']").iCheck("check");
                        $(".fa", this).removeClass("fa-square-o").addClass('fa-check-square-o');
                    }
                    $(this).data("clicks", !clicks);
                });

                //Handle starring for glyphicon and font awesome
                $(".mailbox-star").click(function(e) {
                    e.preventDefault();
                    //detect type
                    var $this = $(this).find("a > i");
                    var glyph = $this.hasClass("glyphicon");
                    var fa = $this.hasClass("fa");

                    //Switch states
                    if (glyph) {
                        $this.toggleClass("glyphicon-star");
                        $this.toggleClass("glyphicon-star-empty");
                    }

                    if (fa) {
                        $this.toggleClass("fa-star");
                        $this.toggleClass("fa-star-o");
                    }
                });
            });

            var composeText = "Compose new mail";
            var backToInbox = "Back to inbox";
            $("button.compose")
                .on("click", function(event) {
                    event.preventDefault();
                    console.log($("button.compose").text);

                    $.get('@Url.Action("tmpMailCompose", "Home", null)', function(res) {
                        $("#mailwrapper").html(res);
                        $("button.compose").hide();
                        $("button.backToInbox").removeClass('hide').show();
                    });
                });

            $("button.backToInbox").on("click", function(event) {
                event.preventDefault();
                $.get('@Url.Action("tmpMailboxList", "Home", null)', function(res) {
                    $("#mailwrapper").html(res);
                    $("button.backToInbox").hide();
                    $("button.compose").show();
                });
            });
        </script>
    }
